<div class="alert alert-warning" role="alert">
    <p>{{ "This page only demonstrates the several form field types that can be easily build with the Symfony Form Component."|trans }}</p>
    <p>{{ "For actually handling the saving of the items, please see the other examples."|trans }}</p>
</div>

{{ form(form) }}